[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
ipykernel = "*"
yfinance = "*"
bs4 = "*"
html5lib = "*"
lxml = "*"
plotly = "*"
requests = "*"
nbformat = "*"
ipython-sql = "*"
seaborn = "*"
scipy = "*"
scikit-learn = "*"
ipywidgets = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.11"
